name: Update Version Line

on:
  push:
    branches:
      - main

jobs:
  update-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update 3rd line with today's date
        run: |
          TODAY=$(date +%Y-%m-%d)
          sed -i "3s|.*|// @version      $TODAY|" "JPDB nadeshiko Examples.js"

      - name: Commit changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add path/to/your-file.txt
          git commit -m "Update version date to $TODAY" || echo "No changes to commit"

      - name: Push
        run: git push
